[submodule "PCB/PCBCase"]
	path = PCB/PCBCase
	url = https://codeberg.org/RevK/PCBCase
[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://codeberg.org/RevK/ESP32-RevK
[submodule "components/ESP32-GFX"]
	path = components/ESP32-GFX
	url = https://github.com/revk/ESP32-GFX
[submodule "ESP32-BLE-Env"]
	path = ESP32-BLE-Env
	url = https://github.com/revk/ESP32-BLE-Env
[submodule "components/ESP32-LWPNG"]
	path = components/ESP32-LWPNG
	url = https://github.com/revk/ESP32-LWPNG
[submodule "components/ESP32-IR"]
	path = components/ESP32-IR
	url = https://github.com/revk/ESP32-IR
